.option-menu {
  width: 150px;
  background-color: bisque;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.15);
  padding: 4px;
  display: none;
  border: 1px solid black;
}

.option-menu .ele {
  padding: 8px 10px;
  font-size: 12px;
}

.option-menu .ele:hover {
  background-color: aqua;
}

.hide{
  display: none;
}

.export-option {
  width: 150px;
  background-color: aquamarine;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.15);
  padding: 4px;
  display: none;
  border: 1px solid black;
}

.export-option .exp {
  padding: 8px 10px;
  font-size: 12px;
}


.export-option .exp:hover {
  background-color: aqua;
}